## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(f"C:/Users/dhinton/Desktop/SCHOOL/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Plotnikovo,RU,55.0247,85.9436,50.34,44,94,10.20,overcast clouds
1,1,Vaini,TO,-21.2000,-175.2000,71.76,94,20,3.44,few clouds
2,2,Hermanus,ZA,-34.4187,19.2345,66.79,70,67,7.58,broken clouds
3,3,Torbay,CA,47.6666,-52.7314,43.57,87,92,14.00,overcast clouds
4,4,Port Elizabeth,ZA,-33.9180,25.5701,68.09,72,0,17.27,clear sky

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature preference?"))
max_temp = float(input("What is the maximum temperature preference?"))

What is the minimum temperature preference?0
What is the maximum temperature preference?100

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
pref_city_df = city_data_df[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
pref_city_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Plotnikovo,RU,55.0247,85.9436,50.34,44,94,10.20,overcast clouds
1,1,Vaini,TO,-21.2000,-175.2000,71.76,94,20,3.44,few clouds
2,2,Hermanus,ZA,-34.4187,19.2345,66.79,70,67,7.58,broken clouds
3,3,Torbay,CA,47.6666,-52.7314,43.57,87,92,14.00,overcast clouds
4,4,Port Elizabeth,ZA,-33.9180,25.5701,68.09,72,0,17.27,clear sky
...,...,...,...,...,...,...,...,...,...,...
687,687,Turayf,SA,31.6725,38.6637,97.05,14,0,4.61,clear sky
688,688,Puerto Cabello,VE,10.4731,-68.0125,76.55,76,96,3.76,overcast clouds
689,689,Pozhva,RU,59.0912,56.0847,60.53,40,0,8.59,clear sky
690,690,Doctor Juan Leon Mallorquin,PY,-25.4000,-55.2667,53.33,93,86,3.18,overcast clouds
691,691,Pallapatti,IN,11.6593,78.1342,96.28,38,99,4.00,overcast clouds

In [9]:
# 4a. Determine if there are any empty rows.
pref_city_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = pref_city_df.dropna()
clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Plotnikovo,RU,55.0247,85.9436,50.34,44,94,10.20,overcast clouds
1,1,Vaini,TO,-21.2000,-175.2000,71.76,94,20,3.44,few clouds
2,2,Hermanus,ZA,-34.4187,19.2345,66.79,70,67,7.58,broken clouds
3,3,Torbay,CA,47.6666,-52.7314,43.57,87,92,14.00,overcast clouds
4,4,Port Elizabeth,ZA,-33.9180,25.5701,68.09,72,0,17.27,clear sky
...,...,...,...,...,...,...,...,...,...,...
687,687,Turayf,SA,31.6725,38.6637,97.05,14,0,4.61,clear sky
688,688,Puerto Cabello,VE,10.4731,-68.0125,76.55,76,96,3.76,overcast clouds
689,689,Pozhva,RU,59.0912,56.0847,60.53,40,0,8.59,clear sky
690,690,Doctor Juan Leon Mallorquin,PY,-25.4000,-55.2667,53.33,93,86,3.18,overcast clouds
691,691,Pallapatti,IN,11.6593,78.1342,96.28,38,99,4.00,overcast clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Plotnikovo,RU,50.34,overcast clouds,55.0247,85.9436,
1,Vaini,TO,71.76,few clouds,-21.2000,-175.2000,
2,Hermanus,ZA,66.79,broken clouds,-34.4187,19.2345,
3,Torbay,CA,43.57,overcast clouds,47.6666,-52.7314,
4,Port Elizabeth,ZA,68.09,clear sky,-33.9180,25.5701,
5,Sur,OM,95.27,scattered clouds,22.5667,59.5289,
6,Vila Franca Do Campo,PT,70.20,overcast clouds,37.7167,-25.4333,
7,Castro,BR,47.53,scattered clouds,-24.7911,-50.0119,
8,Kedrovyy,RU,41.41,light rain,56.1667,91.8167,
9,Munchberg,DE,69.67,broken clouds,50.2000,11.7833,

In [12]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": "AIzaSyA78HOAlfqtCDoppaDgmJv9XhBPaXN7hCQ"
}

# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params = params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except(IndexError):
        print("Hotel not found....skipping!")
        
print("----------------------")
print("Data Retrieval Complete")
print("----------------------")

Beginning Data Retrieval
-----------------------------
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
Hotel not found....skipping!
----------------------
Data Retrieval Complete
----------------------

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"]!=""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,71.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
2,Hermanus,ZA,66.79,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
3,Torbay,CA,43.57,overcast clouds,47.6666,-52.7314,Gallows Cove
4,Port Elizabeth,ZA,68.09,clear sky,-33.9180,25.5701,39 On Nile Guest House
5,Sur,OM,95.27,scattered clouds,22.5667,59.5289,Sur Plaza Hotel
...,...,...,...,...,...,...,...
686,Tecpan,GT,54.90,broken clouds,14.7623,-90.9947,Villa San Ricardo
687,Turayf,SA,97.05,clear sky,31.6725,38.6637,Turaif
688,Puerto Cabello,VE,76.55,overcast clouds,10.4731,-68.0125,Las Palmeras
690,Doctor Juan Leon Mallorquin,PY,53.33,overcast clouds,-25.4000,-55.2667,Hotel Puma S.A.
691,Pallapatti,IN,96.28,overcast clouds,11.6593,78.1342,Hotel Laila palace

In [19]:
# 8a. Create the output File (CSV)
output_data_file = ("WeatherPy_vacation.csv")
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [3]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

NameError: name 'locations' is not defined

In [26]:
print(fig)

Figure(layout=FigureLayout(height='420px'))